body {
    background-color: #fff5c7;
    /* background: linear-gradient(to right, #f2e5a9, #fcf9e9); */
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: rgb(93, 148, 114);
    border-color: rgb(93, 148, 114);
  }
  