div.card {
    display: inline-block;
    padding: 5px;
    width: 1000px;
    letter-spacing: 1px;
}
h3.card-title{
    font-weight: bold;
}
#secondbox{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
div.card-body{
    text-align: center;
}
div.img-desc{
    display: inline-block;
}
div.typebox{
    text-align: center;  
}
div.types{
    text-align: center; 
}

h5.card-title{
    text-align: center;
    color: black;
}
a.title:link{
    text-decoration: none;
}
img.card-img-top {
    display: block;
    margin: none;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
    height: 260px;
    width: 260px;
    border-radius: 8px;
}
span.typename{
    color: hsl(0, 0%, 100%);  
 }

 a.typetext{
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;  
 }
 
a.typetext:link{
    text-decoration: none;
}
a.drop{
    padding: 15px;
}
a.drop:link{
    text-decoration: none;
}
p.card-text{
    text-align: left;
    padding: 3px;
    border: none;
}
#desctext{
    border: none;
    padding: 20px;
}
#stat{
    background-color: #0037ae;
    margin: none;
    padding: 6px;
}
div.container{
    margin: auto;
}
p.card-text1{
    text-align: left;
    color: white;
    margin: auto;
    padding: 3px;
    letter-spacing: 1px;
    border: none;
}
 
button.add{
    border:none;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-top: 0%;
    cursor: pointer;
    background-color: hsl(0, 0%, 90%);
}
button.add:hover{
    background-color: hsl(0, 0%, 70%);
}
button{   
    border:none;
    border-radius: 8px;
    padding: 4px 20px;
    cursor: pointer;
}
#typebutton2{
    margin: 2px;
    height: 30px;
    width: 150px;
}
/* Button Colours Based on Type*/
button.Grass{
    background-color: hsl(98, 52%, 54%);
    width: 110px;;
}
button.Fire{
    background-color: hsl(26, 85%, 56%);
    width: 110px;
}
button.Water{
    background-color: hsl(221, 82%, 66%);
    width: 110px;
}
button.Bug{
    background-color: hsl(67, 75%, 41%);
    width: 110px;
}
button.Normal{
    background-color: hsl(59, 21%, 57%);
    width: 110px;
}
button.Dark{
    background-color: hsl(24, 23%, 36%);
    width: 110px;
}
button.Poison{
    background-color: hsl(301, 45%, 44%);
    width: 110px;
}
button.Electric{
    background-color: hsl(48, 93%, 57%);
    width: 110px;
}
button.Ground{
    background-color: hsl(43, 68%, 64%);
    width: 110px;
}
button.Fairy{
    background-color: hsl(330, 50%, 68%);
    width: 110px;
}
button.Fighting{
    background-color: hsl(2, 66%, 46%);
    width: 110px;
}
button.Psychic{
    background-color: hsl(342, 93%, 65%);
    width: 110px;
}
button.Rock{
    background-color: hsl(50, 54%, 46%);
    width: 110px;
}
button.Ghost{
    background-color: hsl(266, 27%, 47%);
    width: 110px;
}
button.Ice{
    background-color: hsl(177, 47%, 72%);
    width: 110px;
}
button.Dragon{
    background-color: hsl(257, 97%, 60%);
    width: 110px;
}
button.Flying{
    background-color: hsl(256, 81%, 76%);
    width: 110px;
}
button.Steel{
    background-color: hsl(240, 19%, 76%);
    width: 110px;
}

/* After Hover */
button.Grass:hover{
    background-color: hsla(98, 52%, 54%, 0.70);
}
button.Fire:hover{
    background-color: hsl(26, 85%, 56%, 0.70);
}
button.Water:hover{
    background-color: hsl(221, 82%, 66%, 0.70);
}
button.Bug:hover{
    background-color: hsl(67, 75%, 41%, 0.70);
}
button.Normal:hover{
    background-color: hsl(59, 21%, 57%, 0.70);
}
button.Dark:hover{
    background-color: hsl(24, 23%, 36%, 0.70);
}
button.Poison:hover{
    background-color: hsl(301, 45%, 44%, 0.70);
}
button.Electric:hover{
    background-color: hsl(48, 93%, 57%, 0.70);
}
button.Ground:hover{
    background-color: hsl(43, 68%, 64%, 0.70);
}
button.Fairy:hover{
    background-color: hsl(330, 50%, 68%, 0.70);
}
button.Fighting:hover{
    background-color: hsl(2, 66%, 46%, 0.70);
}
button.Psychic:hover{
    background-color: hsl(342, 93%, 65%, 0.70);
}
button.Rock:hover{
    background-color: hsl(50, 54%, 46%, 0.70);
}
button.Ghost:hover{
    background-color: hsl(266, 27%, 47%, 0.70);
}
button.Ice:hover{
    background-color: hsl(177, 47%, 72%, 0.70);
}
button.Dragon:hover{
    background-color: hsl(257, 97%, 60%, 0.70);
}
button.Flying:hover{
    background-color: hsl(256, 81%, 76%, 0.70);
}
button.Steel:hover{
    background-color: hsl(240, 19%, 76%, 0.70);
}
#thirdbox{
    text-align: center;
    padding: 10px;
}
/* Stats Bar */
p.progress-label{
    margin: 10px;
    height: 30px;
    text-align: start;
    padding: 2px;
    padding-left: 35px;
    border: solid 1px black;
    border-radius: 4px;
}
span.stat{
    margin: 10px;
}

div.progress{
    margin: 10px;
    height: 30px;
    width: 500px;
    padding: 4px;  
}
#hp{
    background-color: #ff0000;
    border-radius: 4px;
}
#atk{
    background-color: #f08030;
    border-radius: 4px;
}
#def{
    background-color: #f8d030;
    border-radius: 4px;
}
#spatk{
    background-color: #6890f0;
    border-radius: 4px;
}
#spdef{
    background-color: #78c850;
    border-radius: 4px;
}
#speed{
    background-color: #f85888;
    border-radius: 4px;
}
            