div.card {
    display: inline-block;
    padding: 20px;
    
}
div.card-body{
    text-align: center;
}
div.img-desc{
    display: inline-block;
}
div.typebox{
    text-align: center;  
}
div.types{
    display: inline-block;
    text-align: center; 
}
h5.card-title{
    text-align: center;
    color: black;
}
a.title:link{
    text-decoration: none;
}
img.card-img-top {
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

span.typename{
    color: hsl(0, 0%, 100%);  
 }

 a.typetext{
     color: hsl(0, 0%, 100%);
     text-align: center;
 }
 
a.typetext:link{
    text-decoration: none;
}
a.drop{
    padding: 15px;
}
a.drop:link{
    text-decoration: none;
}
p.card-text{
    text-align: left;
    padding: 3px;
    border: none;
}
#stat{
    background-color: #0037ae;
    padding: 0.5px;
}
div.container{
    margin: auto;
}
p.card-text1{
    text-align: left;
    color: white;
    margin: auto;
    padding: 5px;
    letter-spacing: 1px;
    border: none;
}
button.add{
    border:none;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-top: 0%;
    cursor: pointer;
    background-color: hsl(0, 0%, 90%);
}
button.add:hover{
    background-color: hsl(0, 0%, 70%);
}
button{   
    border:none;
    border-radius: 8px;
    padding: 4px 20px;
    cursor: pointer;
}
/* Button Colours Based on Type*/
button.Grass{
    background-color: #7AC74C;
}
button.Fire{
    background-color: #EE8130;
}
button.Water{
    background-color: #6390F0;
}
button.Bug{
    background-color: #A6B91A;
}
button.Normal{
    background-color: #A8A77A;
}
button.Dark{
    background-color: #705746;
}
button.Poison{
    background-color: #A33EA1;
}
button.Electric{
    background-color: #F7D02C;
}
button.Ground{
    background-color: #E2BF65;
}
button.Fairy{
    background-color: #D685AD;
}
button.Fighting{
    background-color: #C22E28;
}
button.Psychic{
    background-color: #F95587;
}
button.Rock{
    background-color: #B6A136;
}
button.Ghost{
    background-color: #735797;
}
button.Ice{
    background-color: #96D9D6;
}
button.Dragon{
    background-color: #6F35FC;
}
button.Flying{
    background-color: #A98FF3;
}
button.Steel{
    background-color: #B7B7CE;
}
/* After Hover */
button.Grass:hover{
    background-color: hsla(98, 52%, 54%, 0.70);
}
button.Fire:hover{
    background-color: hsl(26, 85%, 56%, 0.70);
}
button.Water:hover{
    background-color: hsl(221, 82%, 66%, 0.70);
}
button.Bug:hover{
    background-color: hsl(67, 75%, 41%, 0.70);
}
button.Normal:hover{
    background-color: hsl(59, 21%, 57%, 0.70);
}
button.Dark:hover{
    background-color: hsl(24, 23%, 36%, 0.70);
}
button.Poison:hover{
    background-color: hsl(301, 45%, 44%, 0.70);
}
button.Electric:hover{
    background-color: hsl(48, 93%, 57%, 0.70);
}
button.Ground:hover{
    background-color: hsl(43, 68%, 64%, 0.70);
}
button.Fairy:hover{
    background-color: hsl(330, 50%, 68%, 0.70);
}
button.Fighting:hover{
    background-color: hsl(2, 66%, 46%, 0.70);
}
button.Psychic:hover{
    background-color: hsl(342, 93%, 65%, 0.70);
}
button.Rock:hover{
    background-color: hsl(50, 54%, 46%, 0.70);
}
button.Ghost:hover{
    background-color: hsl(266, 27%, 47%, 0.70);
}
button.Ice:hover{
    background-color: hsl(177, 47%, 72%, 0.70);
}
button.Dragon:hover{
    background-color: hsl(257, 97%, 60%, 0.70);
}
button.Flying:hover{
    background-color: hsl(256, 81%, 76%, 0.70);
}
button.Steel:hover{
    background-color: hsl(240, 19%, 76%, 0.70);
}