body{
    background-color: rgb(255, 237, 204);
}

a.navbar-brand{
    cursor: default;
}
#search{
    background-color: white;
    color: #0037ae;
    border: solid 1px #0037ae; 
}
#search:hover{
    background-color: #0037ae;
    color: white;
    border: solid 1px #0037ae; 
}
#next{
    background-color: white ;
    color: #0037ae;
    border: solid 1px #0037ae;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 15px; 
}
#next:hover{
    background-color: #0037ae;
    color: white;
    border: solid 1px #0037ae; 
}
#previous{
    background-color: white ;
    color: #0037ae;
    border: solid 1px #0037ae;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 15px; 
}
#previous:hover{
    background-color: #0037ae;
    color: white;
    border: solid 1px #0037ae; 
}
div.card {
    display: inline-block;
    padding-top: 18px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
div.typebox{
    text-align: center;  
}
div.types{
    display: inline-block;
    text-align: center; 
}
h5.card-title{
    text-align: center;
    color: black;
}
a.title:link{
    text-decoration: none;
}
img.card-img-top {
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
    height: 250px;
    width: 250px;
    border-radius: 8px;
}
span.typename{
   color: hsl(0, 0%, 100%); 
}
a.typetext{
    color: hsl(0, 0%, 100%);
    text-align: center;
    letter-spacing: 1px;
}
a.typetext:link{
    text-decoration: none;
}
a.drop{
    padding: 15px;
}
a.drop:link{
    text-decoration: none;
}
button{   
    border:none;
    border-radius: 8px;
    padding: 4px 20px;
    cursor: pointer;
}
button.add{
    border:none;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-top: 0%;
    cursor: pointer;
    background-color: hsl(0, 0%, 90%);
}
button.add:hover{
    background-color: hsl(0, 0%, 70%);
}
#icon{
    color: black;
}
#typebutton1{
    margin-bottom: 5px;
}
/* Button Colours Based on Type*/
button.Grass{
    background-color: hsl(98, 52%, 54%);
    width: 110px;;
}
button.Fire{
    background-color: hsl(26, 85%, 56%);
    width: 110px;
}
button.Water{
    background-color: hsl(221, 82%, 66%);
    width: 110px;
}
button.Bug{
    background-color: hsl(67, 75%, 41%);
    width: 110px;
}
button.Normal{
    background-color: hsl(59, 21%, 57%);
    width: 110px;
}
button.Dark{
    background-color: hsl(24, 23%, 36%);
    width: 110px;
}
button.Poison{
    background-color: hsl(301, 45%, 44%);
    width: 110px;
}
button.Electric{
    background-color: hsl(48, 93%, 57%);
    width: 110px;
}
button.Ground{
    background-color: hsl(43, 68%, 64%);
    width: 110px;
}
button.Fairy{
    background-color: hsl(330, 50%, 68%);
    width: 110px;
}
button.Fighting{
    background-color: hsl(2, 66%, 46%);
    width: 110px;
}
button.Psychic{
    background-color: hsl(342, 93%, 65%);
    width: 110px;
}
button.Rock{
    background-color: hsl(50, 54%, 46%);
    width: 110px;
}
button.Ghost{
    background-color: hsl(266, 27%, 47%);
    width: 110px;
}
button.Ice{
    background-color: hsl(177, 47%, 72%);
    width: 110px;
}
button.Dragon{
    background-color: hsl(257, 97%, 60%);
    width: 110px;
}
button.Flying{
    background-color: hsl(256, 81%, 76%);
    width: 110px;
}
button.Steel{
    background-color: hsl(240, 19%, 76%);
    width: 110px;
}

/* After Hover */
button.Grass:hover{
    background-color: hsla(98, 52%, 54%, 0.70);
}
button.Fire:hover{
    background-color: hsl(26, 85%, 56%, 0.70);
}
button.Water:hover{
    background-color: hsl(221, 82%, 66%, 0.70);
}
button.Bug:hover{
    background-color: hsl(67, 75%, 41%, 0.70);
}
button.Normal:hover{
    background-color: hsl(59, 21%, 57%, 0.70);
}
button.Dark:hover{
    background-color: hsl(24, 23%, 36%, 0.70);
}
button.Poison:hover{
    background-color: hsl(301, 45%, 44%, 0.70);
}
button.Electric:hover{
    background-color: hsl(48, 93%, 57%, 0.70);
}
button.Ground:hover{
    background-color: hsl(43, 68%, 64%, 0.70);
}
button.Fairy:hover{
    background-color: hsl(330, 50%, 68%, 0.70);
}
button.Fighting:hover{
    background-color: hsl(2, 66%, 46%, 0.70);
}
button.Psychic:hover{
    background-color: hsl(342, 93%, 65%, 0.70);
}
button.Rock:hover{
    background-color: hsl(50, 54%, 46%, 0.70);
}
button.Ghost:hover{
    background-color: hsl(266, 27%, 47%, 0.70);
}
button.Ice:hover{
    background-color: hsl(177, 47%, 72%, 0.70);
}
button.Dragon:hover{
    background-color: hsl(257, 97%, 60%, 0.70);
}
button.Flying:hover{
    background-color: hsl(256, 81%, 76%, 0.70);
}
button.Steel:hover{
    background-color: hsl(240, 19%, 76%, 0.70);
}


a.nouser{
    color: black;
}