h1 {
  padding-top: 50px;
  padding-left: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: white;
  font-size: 80px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  body {
    background-color: rgb(255, 237, 204) !important;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #0037ae;
    border: solid 1px #0037ae;
  }

  .btn-login:hover {
      background-color:white !important;
      color: #0037ae !important;
  }
  #home{
    float:right;
    margin-top: 20px;
    margin-right: 20px;
    border: solid 1px #0037ae;
    background-color: white;
  }
  a.home{
    color: #0037ae;
  }

  a.home:link{
    text-decoration: none;
  }

  #home:hover{
    background-color: #0037ae;
    border: solid 1px #0037ae;
  }
  a.home:hover{
    color: white;
  }