<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Page</title>
</head>
<body>
    <h1>Add a new Todo Item</h1>
    <form
        action="#"
        th:action="@{/ToDoList}"
        th:object="${todolist}"
        method="post">

        <p>
            User:
            <input type="text" th:field="*{userId}">

            <span>
                <input type="submit" value="Login"/>
            </span>
        </p>

        <p>
            Description: 
            <input type="text" th:field="*{description}">
            
            <span>
                <input type="submit" value="Add"/>
            </span>
        </p>
           
    </form>
</body>
</html>