<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/displaypage.css}" rel="stylesheet" type="text/css">
    <title>My ToDo List</title>
</head>

<body>
  
  <h1 class="title"><span th:text = ${todolist.userId} ></span>'s To-Do List</h1>
  <div style="float:right;"> 
    <a th:href=@{/CompletedTaskList}><button class="List">Completed</button></a>  
    <a th:href=@{/ToDoLogin}><button class="Logout">Logout</button></a>
  </div>   
    <h2>Add New Task</h2>
      <form
        action="#"
        th:action="@{/MyToDoList/AddedTask}"
        th:object="${todolist}"
        method="post">

        <p>
            Description: 
            <input type="text" th:field="*{description}" onfocus="this.value=''">
            
            <span>
              <button class="Add" type="submit">Add</button>
            </span>
        </p>
           
      </form>  
      
    <div th:object="${itemlist}">
      <table style="width:80%" class="center">
        <tr>
          <th>Task</th>
          <th>Description</th>
          <th>Date Created</th>
          <th>Task Completed?</th>
          
        </tr>
        <tr style="text-align:center;"
          th:each=" toDos, iterStat : ${alluseritems}" th:value="${alluseritems[iterStat.index]}">
          
          <form
            action="#"
            th:action="@{/MyToDoList/CompletedTask}"
            th:object="${todolist}"
            method="post">

          <td th:text="${iterStat.index} + 1"></td>
          <td th:text="${toDos.description}"></td>
          <td th:text="${toDos.dateCreated}"></td>
          <!-- <td><input type="submit" value="Yes"></td> -->
          <td>
            <!-- <input type = "hidden" th:value="${toDos.description}" name="description">
            <input type = "hidden" th:value="${toDos.dateCreated}" name="dateCreated"> -->
            <input type = "hidden" th:value="${iterStat.index}" name="index">
            <button class="Done" type="submit">Yes!</button>
          </td>
          </form>
        </tr>
      </table>
      
    
    </div>
</body>
</html>
