<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body th:object="${itemlist}">    
    <h1>My To-Do List</h1>
    <div th:each=" toDos, iterStat : ${alluseritems}" th:value="${alluseritems[iterStat.index]}">
        <!-- <h2>  
        </h2> -->
        <p> Task <span th:text="${toDos.taskCounter}"></span> :
            
            <span>Description: 
            <span th:text="${toDos.description}"></span> </span>
        </p>
    </div>
    <table style="width:80%">
        <tr>
          <th>Task ID</th>
          <th>Description</th>
          <th>Task Completed</th>
        </tr>
        <tr th:each=" toDos, iterStat : ${alluseritems}" th:value="${alluseritems[iterStat.index]}">
          <td>Task <span th:text="${toDos.taskCounter}"></span></td>
          <td>Description: 
            <span th:text="${toDos.description}"></span></td>
          <td>False</td>
      </table>
</body>
</html>
