<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/displaypage.css}" rel="stylesheet" type="text/css">
    <title>Main Page</title>
</head>

<body>    
    <h1 style="text-align:center;">My To-Do List</h1>
    <!-- <h2>Add New Task</h2>
    <form
        action="#"
        th:action="@{/List}"
        th:object="${todolist}"
        method="post">

        <p>
            Description: 
            <input type="text" th:field="*{description}">
            
            <span>
                <input type="submit" value="Add"/>
            </span>
        </p>
           
    </form> -->
    <div th:object="${itemlist}">
      <!-- <div th:each=" toDos, iterStat : ${alluseritems}" th:value="${alluseritems[iterStat.index]}">
        
        <p> Task <span th:text="${toDos.taskCounter}"></span> : 
            
            <span>Description: 
            <span th:text="${toDos.description}"></span> </span>
        </p>
      </div> -->
      <table style="width:80%" class="center">
        <tr>
          <th>Task</th>
          <th>Description</th>
          <th>Task Completed</th>
          <th>User</th>
        </tr>
        <tr style="text-align:center;"
          th:each=" toDos, iterStat : ${alluseritems}" th:value="${alluseritems[iterStat.index]}">
          <td th:text="${toDos.taskCounter}"></td>
          <td th:text="${toDos.description}"></td>
          <td>False</td>
          <td th:text="${toDos.userId}"></td>
      </table>
    </div>
</body>
</html>
