<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Pokemon</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link th:href="@{/css/pokemondetails.css}" rel="stylesheet" type="text/css">
  </head>
  
  <body>

    <div class="p-3 m-0 border-0 bd-example">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Pokédex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href=@{/}>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" th:href=@{/Login}>My Team</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pokémon Types
              </a>
              <ul class="dropdown-menu" style="text-align: center;">
                <div class="types" th:each="type, iterStat : ${typelist}" th:value="${typelist[iterStat.index]}">
                <li>
                  <button th:class="${type}"><a href="#" th:href="@{/Types/{type}(type = ${type})}" class="typetext" th:text="${type}"></a></button>
                </li>
                <li><hr class="dropdown-divider"></li>
                </div>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" th:href=@{/Login}>Login</a>
            </li>
          </ul>
          <form class="d-flex" role="search" th:action="@{/search}" th:object="${searchpokemon}" autocomplete="off">
            <input class="form-control me-2" type="search" placeholder="Search Pokémon" aria-label="Search" th:field="*{name}" required>
            <button id="search" class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    </div>


  <div style="text-align:center;">
    <div id="cardmain" class="card">
      <div class="card-body" th:each="poke, iterStat : ${pokemonD}" th:value="${(pokemonD)[iterStat.index]}">
        

          <div class="text-end">
          
          <button class="add"><a class="nouser" href="#" th:href="@{/Login}">
            <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg></a>
          </button>
          </div>
       
        <h3 class="card-title" th:text="${poke.name}" style="display:inline;"></h3>
        <h3 style="display:inline;">&nbsp;&nbsp;#<span class="card-title" th:text="${poke.pokemonId}" style="display:inline;"></span></h3>       
        <div>
          <div id="secondbox" class="card mb-3" style="max-width: 900px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a class="title" href="#" th:href="@{/{name}(name = ${poke.name})}"><img th:src="${poke.imageUrl}" class="card-img-top" alt="..."></a>
              </div>

              <div class="col-md-8">
                <div>
                  <div id="desctext" class="card" style="width: 30rem;">
                  <p class="card-text" th:text="${poke.description}"></p>
                  </div>
                  <div id="stat" class="card" style="width: 30rem;">
                    <div class="card-body">

                        <div class="container">
                          <div class="row">
                            <div class="col-6 col-sm-3">
                              <p class="card-text1">Height</p>
                              <p class="card-text1"><span th:text="(${poke.height})/10"></span> m</p>
                            </div>
                            <div class="col-6 col-sm-3">
                              <p class="card-text1">Weight</p>
                              <p class="card-text1"><span th:text="(${poke.weight})/10"></span> kg</p>
                            </div>

                            <!-- Force next columns to break to new line at md breakpoint and up -->
                            <div class="w-100 d-none d-md-block"></div>
                            <div class="col-6 col-sm-3">
                            <p class="card-text1">Ability</p>
                            </div> 
                            

                            <div class="w-100 d-none d-md-block"></div> 
                            <div class="col-6 col-md-4" style="white-space:nowrap;" th:each="ability, iterStat : ${poke.abilities}" th:value="${(poke.abilities)[iterStat.index]}">
                              <p class="card-text1" th:text="(${ability})"></p>                               
                            </div>
                          </div>
                        </div>
                        
              
                      </div>
                    </div>
                  </div>
                  
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
                <div id="diplaytypes" class="card" style="width: 840px;">
                  <div class="card-body">
                    <p class="type-name">Type<span>
                    <div class="types" th:each="type, iterStat : ${poke.types}" th:value="${(poke.types)[iterStat.index]}">
                      <button id="typebutton2" th:class="${type}"><a href="#" th:href="@{/Types/{type}(type = ${type})}" class="typetext" th:text="${type}"></a></button>
                    </div>
                  </span></p>
                  </div>
                </div>
            </div>
          </div>
       

          <div id="thirdbox" class="card mb-3" style="max-width: 900px;">
            <!-- HP -->

            <div class="container">
              <div class="row">
                <div class="col-3">
                <p class="progress-label">HP:<span class="stat" th:text="${poke.baseStats.hp}"></span></p>
                <p class="progress-label">Attack:<span class="stat" th:text="${poke.baseStats.attack}"></span></p>
                <p class="progress-label">Defense:<span class="stat" th:text="${poke.baseStats.defense}"></span></p>
                <p class="progress-label">Sp. Atk:<span class="stat" th:text="${poke.baseStats.specialAttack}"></span></p>
                <p class="progress-label">Sp. Def:<span class="stat" th:text="${poke.baseStats.specialDefense}"></span></p>
                <p class="progress-label">Speed:<span class="stat" th:text="${poke.baseStats.speed}"></span></p>
                </div>
              
              <div class="col">
              <div class="progress">
                <div id="hp" class="progress-bar" role="progressbar" aria-label="Basic example" th:style="'width:' + (${poke.baseStats.hp}/2) + '%;'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            
            <!-- ATTACK -->
              <div class="progress">
                <div id="atk" class="progress-bar" role="progressbar" aria-label="Basic example" th:style="'width:' + (${poke.baseStats.attack}/2) + '%;'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <!-- DEFENSE -->
              <div class="progress">
                <div id="def" class="progress-bar" role="progressbar" aria-label="Basic example" th:style="'width:' + (${poke.baseStats.defense}/2) + '%;'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <!-- SPECIAL-ATTACK -->
              <div class="progress">
                <div id="spatk" class="progress-bar" role="progressbar" aria-label="Basic example" th:style="'width:' + (${poke.baseStats.specialAttack}/2) + '%;'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <!-- SPECIAL-DEFENSE -->
              <div class="progress">
                <div id="spdef" class="progress-bar" role="progressbar" aria-label="Basic example" th:style="'width:' + (${poke.baseStats.specialDefense}/2) + '%;'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <!-- SPEED -->
              <div class="progress">
                <div id="speed" class="progress-bar" role="progressbar" aria-label="Basic example" th:style="'width:' + (${poke.baseStats.speed}/2) + '%;'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <!-- empty columns -->
            </div>
          </div>

          </div>
        </div>
      </div>

      </div>
    </div>
    
  </div>
</body>